.fehbg
.*gbas.so_u
.bash_*
.Xauthority
.cache
.config/gtk-*
.config/opera*
.config/user*
.dbus
.dmenu_cache
.mozilla/
.local/
.vim/
Pictures/
Documents/
.viminfo
.xsession-errors
.vboxclient-*
.rofi/
.pki/
.oracle_jre_usage/
.lesshst
.java/
.gnome2
.gtkrc-2.0
.gitconfig
.gbas*
Downloads/
Desktop/
