Desktop/
Documents/
Downloads/
Pictures/

.bash_*
.cache*
.config/dconf/
.config/free*
.config/gtk-*
.config/konsole*
.config/icedtea-web
.config/opera*
.config/teamviewer*
.config/Trolltech.conf
.config/user*
.dbus
.dmenu_cache
.ecryptfs
.fehbg
.fonts*
.git-credentials
.gitconfig
.gnome2
.gtkrc-2.0
.gbas*
.*gbas.so_u
.java/
.lesshst
.local/
.macromedia*
.mozilla*
.oracle_jre_usage/
.pki/
.Private*
.profile
.python_history
.remmina*
.rnd
.rofi/
.selected_editor
.ssh
.*.swp
.vbox*
.vboxclient-*
.vim/bundle*
.viminfo
.vim/.netrwhist
.Xauthority
.xsession-errors
