Desktop/
Documents/
Downloads/
Pictures/

.bash_*
.cache*
.config/autostart
.config/cef_user_data
.config/dconf/
.config/free*
.config/gtk-*
.config/konsole*
.config/icedtea-web
.config/naev
.config/opera*
.config/pulse*
.config/teamviewer*
.config/Trolltech.conf
.config/user*
.dbus
.dmenu_cache
.ecryptfs
.fehbg
.fonts*
.git-credentials
.gitconfig
.gnome2
.gtkrc-2.0
.gbas*
.*gbas.so_u
.gconf
.gksu.lock
.java/
.lesshst
.local/
.macromedia*
.mozilla*
.oracle_jre_usage/
.pki/
.Private*
.profile
.pulse-cookie
.python_history
.remmina*
.rnd
.rofi/
.selected_editor
.ssh
.*.swp
.vbox*
.vboxclient-*
.vim/bundle*
.viminfo
.vim/.netrwhist
.Xauthority
.xsession-errors
.sudo_as_admin_successful
